{% set ad_show = path("ads_show", {'slug': ad.slug}) %}

<div class="col-md-4">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            {{ ad.rooms }} chambres, <strong>{{ ad.price | number_format(2, ',', ' ')}}&euro; par nuit</strong> <br>
            {% if ad.comments|length > 0 %}
                {% include "partials/rating.html.twig" with {'rating': ad.avgRatings} %}
            {% else %}
                <small>Pas encore noté</small>
            {% endif %}
        </div>
        <a href="{{ ad_show }}">
            <img src="{{ ad.coverImage }}" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block;">
        </a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="{{ ad_show }}" class="text-muted">
                    {{ ad.title }}
                </a>
            </h4> 
            <p class="card-text">
                {{ ad.introduction }}
            </p>
            <a href="{{ ad_show }}" class="btn btn-primary float-right">En savoir plus !</a> 
            {% if app.user and ad.author == app.user %}
                <a href="{{ path("ads_edit",{'slug': ad.slug}) }}" class="btn btn-secondary">Editer</a>
                <a href="{{path('ads_delete',{'slug': ad.slug }) }}" onclick="return confirm(`Etes vous sûr de vouloir supprimer l'annonce {{ ad.title }} ?`)" class="btn btn-danger">Supprimer l'annonce</a>
            {% endif %}
        </div>
    </div> 
</div>